* {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0; }

.button-row {
  text-align: center; }
  .button-row a {
    color: #ffffff; }
  .button-row a:hover {
    color: #ffffff; }

html {
  margin-top: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.green {
  color: #8dc63f; }

.purple {
  color: #54075b; }

.btn-green {
  background-color: #8dc63f; }

.btn-green:hover {
  background-color: #54075b; }
  .btn-green:hover a {
    text-decoration: none; }

.go-up {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }
  .go-up i {
    width: 36px;
    height: 36px;
    position: fixed;
    right: 15px;
    bottom: 19px;
    line-height: 36px;
    z-index: 2000;
    font-size: 80%;
    background-color: #8dc63f;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
  .go-up i:hover {
    background-color: #54075b;
    color: #ffffff; }

.go-down {
  height: 10%;
  text-align: center; }
  .go-down i {
    font-size: 18px;
    color: #ffffff; }

.main-nav {
  background-color: #ffffff;
  position: fixed;
  border-bottom: 1px solid #8dc63f;
  width: 100%;
  z-index: 1000000;
  top: 0; }
  .main-nav .nav-logo {
    padding: 10px 0;
    float: left;
    margin-left: 20px; }
  .main-nav .nav-menu {
    float: right;
    margin-right: 20px; }
    .main-nav .nav-menu .toggle-item {
      display: none; }
    .main-nav .nav-menu .toggle-item:hover {
      background-color: #8dc63f; }
      .main-nav .nav-menu .toggle-item:hover a {
        color: #ffffff;
        text-decoration: none; }
    .main-nav .nav-menu ul {
      height: 70px;
      list-style-type: none;
      margin-bottom: 0 !important; }
      .main-nav .nav-menu ul .current_page_item {
        background-color: #8dc63f; }
        .main-nav .nav-menu ul .current_page_item a {
          color: #ffffff;
          text-decoration: none; }
      .main-nav .nav-menu ul .menu-item:hover {
        background-color: #8dc63f; }
        .main-nav .nav-menu ul .menu-item:hover a {
          color: #ffffff;
          text-decoration: none; }
      .main-nav .nav-menu ul .menu-item {
        float: left;
        padding: 0 20px;
        height: 70px;
        display: block; }
        .main-nav .nav-menu ul .menu-item .table-wrapper {
          display: table;
          height: 100%;
          width: 100%; }
        .main-nav .nav-menu ul .menu-item a {
          display: table-cell;
          vertical-align: middle; }
      .main-nav .nav-menu ul .menu-item-has-children .sub-menu {
        display: none;
        position: absolute;
        top: 70px; }
        .main-nav .nav-menu ul .menu-item-has-children .sub-menu li:hover {
          background-color: #8dc63f; }
          .main-nav .nav-menu ul .menu-item-has-children .sub-menu li:hover a {
            color: #ffffff;
            text-decoration: none; }
        .main-nav .nav-menu ul .menu-item-has-children .sub-menu li {
          height: 70px;
          background-color: #ffffff;
          clear: both;
          padding: 0;
          display: table;
          text-align: center;
          position: relative;
          left: -20px; }
          .main-nav .nav-menu ul .menu-item-has-children .sub-menu li a {
            color: #8dc63f; }
      .main-nav .nav-menu ul a {
        color: #8dc63f;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase; }
      .main-nav .nav-menu ul .menu-item-has-children:hover .sub-menu {
        display: block; }

.main-slider {
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  background: url("../images/mecarehome.jpg") center;
  background-size: cover;
  border-bottom: 3px solid #8dc63f; }
  .main-slider .container {
    height: 100%;
    display: table; }
  .main-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }

.page-slider {
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  background: url("../images/mecarehome.jpg") center;
  background-size: cover;
  border-bottom: 3px solid #8dc63f; }
  .page-slider .container {
    height: 100%;
    display: table; }
  .page-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }
    .page-slider .slider-text .subline {
      margin-top: 15px; }

.full-page-slider {
  overflow: hidden;
  border-bottom: 3px solid #8dc63f;
  margin-top: 71px;
  position: relative; }
  .full-page-slider .container {
    height: 100%; }
  .full-page-slider .slider {
    display: table;
    height: 90%;
    margin: 0 auto; }
  .full-page-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }
    .full-page-slider .slider-text .headline {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 60px;
      text-shadow: 2px 2px 8px #000; }
    .full-page-slider .slider-text .subline {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 46px;
      text-shadow: 2px 2px 8px #000;
      margin-top: 15px; }

.three-blocks .block {
  padding: 0 20px; }
.three-blocks .block-icon img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  padding-bottom: 30px; }
.three-blocks .block-header {
  text-align: center; }
  .three-blocks .block-header .tag-line {
    border-top: 1px solid #8dc63f;
    height: 30px; }
    .three-blocks .block-header .tag-line span {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 30px;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      top: -20px;
      background-color: #ffffff;
      padding: 0 10px; }
.three-blocks .block-text {
  margin-top: 10px; }
  .three-blocks .block-text a {
    color: #ffffff; }

.footer {
  border-top: 3px solid #8dc63f; }

.footer-img {
  width: 100%;
  height: 300px;
  background: url("../images/image_106.jpg") center;
  background-size: cover; }
  .footer-img .container {
    display: table;
    height: 300px; }
  .footer-img .footer-text {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff; }
    .footer-img .footer-text h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 46px;
      text-shadow: 2px 2px 8px #000; }

.footer-links {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  display: table;
  text-align: center; }
  .footer-links small {
    display: table-cell;
    vertical-align: middle; }
    .footer-links small a {
      color: #8dc63f; }

.page-content {
  margin: 50px 0; }
  .page-content ul {
    padding-left: 20px; }
  .page-content ol {
    padding-left: 20px; }

.page-custom-behandelingen .row {
  margin-top: 50px; }
.page-custom-behandelingen .row:first-child {
  margin-top: 0; }

.page-custom-praktijk {
  margin: 50px 0; }
  .page-custom-praktijk .row .col-md-10 ul {
    padding-left: 20px; }
  .page-custom-praktijk .row .col-md-10 ol {
    padding-left: 20px; }

.page-contact-and-maps {
  border-top: 3px solid #8dc63f;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  .page-contact-and-maps .form-control {
    border-radius: 0; }
  .page-contact-and-maps .padding-right {
    padding-right: 15px;
    padding-left: 0 !important; }
  .page-contact-and-maps .padding-left {
    padding-left: 15px;
    padding-right: 0 !important; }
  .page-contact-and-maps .form-group-double {
    height: 59px; }
  .page-contact-and-maps .form-double-right {
    padding-right: 0 !important; }
  .page-contact-and-maps .form-double-left {
    padding-left: 0 !important; }

.page-custom-beoordelingen {
  border-bottom: 3px solid #8dc63f;
  padding-bottom: 50px !important; }
  .page-custom-beoordelingen .beoordeling-single {
    margin-top: 50px; }
  .page-custom-beoordelingen .beoordeling-single:first-child {
    margin-top: 0; }
  .page-custom-beoordelingen .title-stars-row {
    margin-bottom: 10px; }
  .page-custom-beoordelingen .title {
    display: table;
    height: 28px; }
    .page-custom-beoordelingen .title h3 {
      display: table-cell;
      vertical-align: middle; }
  .page-custom-beoordelingen .stars {
    text-align: right; }
    .page-custom-beoordelingen .stars i {
      font-size: 20px;
      color: #8dc63f; }
  .page-custom-beoordelingen .beoordeling-info {
    margin-bottom: 10px; }
    .page-custom-beoordelingen .beoordeling-info p {
      font-style: italic;
      margin: 0; }

.page-custom-beoordelingen-form {
  padding-bottom: 50px !important; }
  .page-custom-beoordelingen-form small {
    font-weight: 100; }

.home-custom-beoordelingen {
  border-top: 3px solid #8dc63f;
  padding-top: 50px !important; }
  .home-custom-beoordelingen .title-stars-row {
    margin-bottom: 10px; }
  .home-custom-beoordelingen .title {
    display: table;
    height: 28px; }
    .home-custom-beoordelingen .title h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      display: table-cell;
      vertical-align: middle; }
  .home-custom-beoordelingen .stars {
    text-align: left; }
    .home-custom-beoordelingen .stars i {
      font-size: 20px;
      color: #8dc63f; }
  .home-custom-beoordelingen .beoordeling-info {
    margin-bottom: 10px; }
    .home-custom-beoordelingen .beoordeling-info p {
      font-style: italic;
      margin: 0; }

/*# sourceMappingURL=style.css.map */
