// This is the stylesheet for Me Care


// Styles Reset
*
  margin: 0
  padding: 0
  
h2
  margin: 0




@import "sass-parts/variables"

// 1. Miscellaneous
@import "sass-parts/miscellaneous"

// 2. Main-Nav
@import "./sass-parts/main_nav"

// 3. Sliders
@import "./sass-parts/sliders"

// 4. Three-Blocks
@import "./sass-parts/three_blocks"

// 5. Footer
@import "./sass-parts/footer"

// 7. Page-Content
@import "./sass-parts/page_content"

// 8. Page-Custom-Behandelingen
@import "./sass-parts/page_custom_behandelingen"

// 9. Page-Custom-Praktijk
@import "./sass-parts/page_custom_praktijk"

// 10. Page-custom-contact
@import "./sass-parts/page_custom_contact"

// 11. Page-custom-beoordelingen
@import "./sass-parts/page_custom_beoordelingen"

// 12. Home-custom-beoordelingen
@import "./sass-parts/home_custom_beoordelingen"
