// This is the stylesheet for Me Care


// Styles Reset
*
  margin: 0
  padding: 0

h2
  margin: 0

// Assets and Variables
$slider_img : "../images/mecarehome.jpg"
$footer_img : "../images/image_106.jpg"

$white      : #ffffff
$text_white : #ffffff

$green      : #8dc63f
$purple     : #54075b


// Table Of Contents
//
// 1. Miscellaneous
// 2. Main-Nav
// 3. Sliders
// 4. Three-Blocks
// 5. Footer
// 7. Page-Content
// 8. Page-Custom-Behandelingen
// 9. Page-Custom-Praktijk
// 10. Page-custom-contact
// 11. Page-custom-beoordelingen


// 1. Miscellaneous
html
  margin-top: 0 !important

.no-padding
  padding: 0 !important

.no-margin
  margin: 0 !important

.green
  color: $green

.purple
  color: $purple

.btn-green
  background-color: $green
.btn-green:hover
  background-color: $purple
  a
    text-decoration: none

.go-up
  color: $white
  text-decoration: none
  cursor: pointer
  i
    width: 36px
    height: 36px
    position: fixed
    right: 15px
    bottom: 19px
    line-height: 36px
    z-index: 2000
    font-size: 80%
    background-color: $green
    display: block
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
  i:hover
    background-color: $purple
    color: $white
.go-down
  height: 10%
  text-align: center
  i
    font-size: 18px
    color: $text_white


// 2. Main-Nav
.main-nav
  background-color: $white
  .nav-logo
    padding: 10px 0
    float: right
    margin-right: 20px
  .nav-menu
    float: left
    margin-left: 20px
    .toggle-item
      display: none
    .toggle-item:hover
      background-color: $green
      a
        color: $white
        text-decoration: none
    ul
      height: 70px
      list-style-type: none
      margin-bottom: 0 !important
      .menu-item:hover
        background-color: $green
        a
          color: $white
          text-decoration: none
      .menu-item
        float: left
        padding: 0 20px
        height: 70px
        display: block
        .table-wrapper
          display: table
          height: 100%
        a
          display: table-cell
          vertical-align: middle
      .menu-dropdown
        .dropdown-container
          display: none
          position: absolute
          top: 70px
          li:hover
            background-color: $green
            a
              color: $white
              text-decoration: none
          li
            height: 70px
            background-color: $white
            clear: both
            padding: 0
            display: table
            text-align: center
            position: relative
            left: -20px
            a
              color: $green
      a
        color: $green
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 14px
        text-transform: uppercase
      .menu-dropdown:hover .dropdown-container
        display: block

// 3. SLIDERS

// 3.1 Main Slider
.main-slider
  height: 400px
  max-height: 400px
  overflow: hidden
  background: url($slider_img) center
  background-size: cover
  border-bottom: 3px solid $green
  .container
    height: 100%
    display: table
  .slider-text
    display: table-cell
    vertical-align: middle
    text-align: center
    color: $text_white

// 3.2 Page-slider
.page-slider
  height: 300px
  max-height: 300px
  overflow: hidden
  background: url($slider_img) center
  background-size: cover
  border-bottom: 3px solid $green
  .container
    height: 100%
    display: table
  .slider-text
    display: table-cell
    vertical-align: middle
    text-align: center
    color: $text_white
    .headline
    .subline
      margin-top: 15px

.full-page-slider
  overflow: hidden
  border-bottom: 3px solid $green
  .container
    height: 100%
  .slider
    display: table
    height: 90%
    margin: 0 auto
  .slider-text
    display: table-cell
    vertical-align: middle
    text-align: center
    color: $text_white
    .headline
      font-family: 'Roboto', sans-serif
      font-weight: 300
      font-size: 60px
      text-shadow: 2px 2px 8px #000
    .subline
      font-family: 'Roboto', sans-serif
      font-weight: 100
      font-size: 46px
      text-shadow: 2px 2px 8px #000
      margin-top: 15px


// 4. Three-Blocks
.three-blocks
  margin: 50px 0
  .block
    padding: 0 20px
  .block-icon
    img
      max-width: 200px
      margin: 0 auto
      display: block
      padding-bottom: 30px
  .block-header
    text-align: center
    .tag-line
      border-top: 1px solid $green
      height: 30px
      span
        font-family: "Roboto", sans-serif
        font-weight: 100
        font-size: 30px
        text-transform: uppercase
        position: relative
        display: inline-block
        top: -20px
        background-color: $white
        padding: 0 10px
  .block-text
    margin-top: 10px
    text-align: justify
    a
      color: $text_white


// 5. Footer
.footer
  border-top: 3px solid $green
.footer-img
  width: 100%
  height: 300px
  background: url($footer_img) center
  background-size: cover
  .container
    display: table
    height: 300px
  .footer-text
    display: table-cell
    vertical-align: middle
    color: $text_white
    h2
      font-family: 'Roboto', sans-serif
      font-weight: 100
      font-size: 46px
      text-shadow: 2px 2px 8px #000

.footer-links
  width: 100%
  height: 50px
  padding: 10px 0
  display: table
  text-align: center
  small
    display: table-cell
    vertical-align: middle
    a
      color: $green

// 7. Page-Content
.page-content
  margin: 50px 0
  ul
    padding-left: 20px
  ol
    padding-left: 20px

// 8. Page-Custom-Behandelingen
.page-custom-behandelingen
  .row
    margin-top: 50px
  .row:first-child
    margin-top: 0

// 9. Page-Custom-Praktijk
.page-custom-praktijk
  margin: 50px 0
  .row
    .col-md-10
      ul
        padding-left: 20px
      ol
        padding-left: 20px

// 10. Page-Custom-Contact
.page-contact-and-maps
  border-top: 3px solid $green
  padding-top: 50px !important
  padding-bottom: 50px !important
  .padding-right
    padding-right: 15px
    padding-left: 0 !important
  .padding-left
    padding-left: 15px
    padding-right: 0 !important
  .form-group-double
    height: 59px
  .form-double-right
    padding-right: 0 !important
  .form-double-left
    padding-left: 0 !important


// 11. Page-custom-beoordelingen
.page-custom-beoordelingen
  border-bottom: 3px solid $green
  padding-top: 50px !important
  padding-bottom: 50px !important
  .title-stars-row
    margin-bottom: 10px
  .title
    display: table
    height: 28px
    h3
      display: table-cell
      vertical-align: middle
  .stars
    text-align: right
    i
      font-size: 20px
      color: $green
  .date
    text-align: right

.page-custom-beoordelingen-form
  padding-top: 50px !important
  padding-bottom: 50px !important
  small
    font-weight: 100

// 18. Media Responsive max 768px
@media screen and (max-width: 768px)
  // Change the font-size off the full-page-slider
  .headline
    font-size: 50px !important
  .subline
    font-size: 30px !important
  .footer-text
    h2
      font-size: 30px !important

  .page-custom-behandelingen
    .block-icon
      img
        width: 40%


// 19. Media Responsive min 768px
@media screen and (min-width: 768px)
  // Change the font-size off the full-page-slider
  .headline
    font-size: 70px !important
  .subline
    font-size: 46px !important
  .footer-text
    h2
      font-size: 46px !important


// 20. Media Responsive max 860px
@media screen and (max-width: 860px)

// 21. Media Responsive min 992px
@media screen and (min-width: 992px)

// 22. Media Responsive max 992px
@media screen and (max-width: 992px)
  // Main Navivation
  .main-nav
    clear: both
  .nav-logo
    margin-right: 0 !important
  .nav-menu
    margin-left: 0 !important
    background-color: $white
    position: absolute
    left: 0
    top: 0
    ul.active
      display: none
    .toggle-item
      display: block !important
      padding: 0 20px
      height: 70px
      min-width: 151px
      a
        color: $green
        font-size: 18px
      a:hover
        text-decoration: none
      .table-wrapper
        height: 100%
        width: 100%
        text-align: center
        display: table
        a
          display: table-cell
          vertical-align: middle
    .menu-item
      clear: both
      width: 100%
      .table-wrapper
        width: 100%
        text-align: center
    .dropdown-container
      left: 171px
      li
        border-left: 1px solid $green

  // Three blocks
  .three-blocks
    .col-md-4
      margin-top: 50px
    .col-md-4:first-child
      margin-top: 0

  // Contact Form
  .page-contact-and-maps
    .padding-left
      padding: 0 !important
    .padding-right
      padding: 0 !important
  .form-group-double
    height: 133px !important
    .form-double-left
      margin-bottom: 15px
      padding: 0 !important
    .form-double-right
      padding: 0 !important

// 23. Media Responsive min 1200px
@media screen and (min-width: 1200px)
