* {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0; }

html {
  margin-top: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.green {
  color: #8dc63f; }

.purple {
  color: #54075b; }

.btn-green {
  background-color: #8dc63f; }

.btn-green:hover {
  background-color: #54075b; }
  .btn-green:hover a {
    text-decoration: none; }

.main-nav {
  background-color: #ffffff; }
  .main-nav .nav-logo {
    padding: 10px 0;
    float: right;
    margin-right: 20px; }
  .main-nav .nav-menu {
    float: left;
    margin-left: 20px; }
    .main-nav .nav-menu .toggle-item {
      display: none; }
    .main-nav .nav-menu .toggle-item:hover {
      background-color: #8dc63f; }
      .main-nav .nav-menu .toggle-item:hover a {
        color: #ffffff;
        text-decoration: none; }
    .main-nav .nav-menu ul {
      height: 70px;
      list-style-type: none;
      margin-bottom: 0 !important; }
      .main-nav .nav-menu ul .menu-item:hover {
        background-color: #8dc63f; }
        .main-nav .nav-menu ul .menu-item:hover a {
          color: #ffffff;
          text-decoration: none; }
      .main-nav .nav-menu ul .menu-item {
        float: left;
        padding: 0 20px;
        height: 70px;
        display: block; }
        .main-nav .nav-menu ul .menu-item .table-wrapper {
          display: table;
          height: 100%; }
        .main-nav .nav-menu ul .menu-item a {
          display: table-cell;
          vertical-align: middle; }
      .main-nav .nav-menu ul .menu-dropdown .dropdown-container {
        display: none;
        position: absolute;
        top: 70px; }
        .main-nav .nav-menu ul .menu-dropdown .dropdown-container li:hover {
          background-color: #8dc63f; }
          .main-nav .nav-menu ul .menu-dropdown .dropdown-container li:hover a {
            color: #ffffff;
            text-decoration: none; }
        .main-nav .nav-menu ul .menu-dropdown .dropdown-container li {
          height: 70px;
          background-color: #ffffff;
          clear: both;
          padding: 0;
          display: table;
          text-align: center;
          position: relative;
          left: -20px; }
          .main-nav .nav-menu ul .menu-dropdown .dropdown-container li a {
            color: #8dc63f; }
      .main-nav .nav-menu ul a {
        color: #8dc63f;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase; }
      .main-nav .nav-menu ul .menu-dropdown:hover .dropdown-container {
        display: block; }

.main-slider {
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  background: url("../images/mecarehome.jpg") center;
  background-size: cover;
  border-bottom: 3px solid #8dc63f; }
  .main-slider .container {
    height: 100%;
    display: table; }
  .main-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }

.page-slider {
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  background: url("../images/mecarehome.jpg") center;
  background-size: cover;
  border-bottom: 3px solid #8dc63f; }
  .page-slider .container {
    height: 100%;
    display: table; }
  .page-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }
    .page-slider .slider-text .subline {
      margin-top: 15px; }

.full-page-slider {
  overflow: hidden;
  border-bottom: 3px solid #8dc63f; }
  .full-page-slider .container {
    height: 100%;
    display: table; }
  .full-page-slider .slider-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; }
    .full-page-slider .slider-text .headline {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 60px;
      text-shadow: 2px 2px 8px #000; }
    .full-page-slider .slider-text .subline {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 46px;
      text-shadow: 2px 2px 8px #000;
      margin-top: 15px; }

.three-blocks {
  margin: 50px 0; }
  .three-blocks .block {
    padding: 0 20px; }
  .three-blocks .block-icon img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    padding-bottom: 30px; }
  .three-blocks .block-header {
    text-align: center; }
    .three-blocks .block-header .tag-line {
      border-top: 1px solid #8dc63f;
      height: 30px; }
      .three-blocks .block-header .tag-line span {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        top: -20px;
        background-color: #ffffff;
        padding: 0 10px; }
  .three-blocks .block-text {
    margin-top: 10px;
    text-align: justify; }
    .three-blocks .block-text a {
      color: #ffffff; }

.footer {
  border-top: 3px solid #8dc63f; }

.footer-img {
  width: 100%;
  height: 300px;
  background: url("../images/image_106.jpg") center;
  background-size: cover; }
  .footer-img .container {
    display: table;
    height: 300px; }
  .footer-img .footer-text {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff; }
    .footer-img .footer-text h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 46px;
      text-shadow: 2px 2px 8px #000; }

.footer-links {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  display: table;
  text-align: center; }
  .footer-links small {
    display: table-cell;
    vertical-align: middle; }
    .footer-links small a {
      color: #8dc63f; }

.page-content {
  margin: 50px 0; }
  .page-content ul {
    padding-left: 20px; }
  .page-content ol {
    padding-left: 20px; }

.page-custom-behandelingen .row {
  margin-top: 50px; }
.page-custom-behandelingen .row:first-child {
  margin-top: 0; }

.page-custom-praktijk {
  margin: 50px 0; }
  .page-custom-praktijk .row .col-md-10 ul {
    padding-left: 20px; }
  .page-custom-praktijk .row .col-md-10 ol {
    padding-left: 20px; }

.page-contact-and-maps {
  border-top: 3px solid #8dc63f;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  .page-contact-and-maps .padding-right {
    padding-right: 15px;
    padding-left: 0 !important; }
  .page-contact-and-maps .padding-left {
    padding-left: 15px;
    padding-right: 0 !important; }
  .page-contact-and-maps .form-group-double {
    height: 59px; }
  .page-contact-and-maps .form-double-right {
    padding-right: 0 !important; }
  .page-contact-and-maps .form-double-left {
    padding-left: 0 !important; }

.page-custom-beoordelingen {
  border-bottom: 3px solid #8dc63f;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  .page-custom-beoordelingen .title-stars-row {
    margin-bottom: 10px; }
  .page-custom-beoordelingen .title {
    display: table;
    height: 28px; }
    .page-custom-beoordelingen .title h3 {
      display: table-cell;
      vertical-align: middle; }
  .page-custom-beoordelingen .stars {
    text-align: right; }
    .page-custom-beoordelingen .stars i {
      font-size: 20px;
      color: #8dc63f; }
  .page-custom-beoordelingen .date {
    text-align: right; }

.page-custom-beoordelingen-form {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  .page-custom-beoordelingen-form small {
    font-weight: 100; }

@media screen and (max-width: 768px) {
  .headline {
    font-size: 50px !important; }

  .subline {
    font-size: 30px !important; }

  .footer-text h2 {
    font-size: 30px !important; }

  .page-custom-behandelingen .block-icon img {
    width: 40%; } }
@media screen and (min-width: 768px) {
  .headline {
    font-size: 70px !important; }

  .subline {
    font-size: 46px !important; }

  .footer-text h2 {
    font-size: 46px !important; } }
@media screen and (max-width: 992px) {
  .main-nav {
    clear: both; }

  .nav-logo {
    margin-right: 0 !important; }

  .nav-menu {
    margin-left: 0 !important;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0; }
    .nav-menu ul.active {
      display: none; }
    .nav-menu .toggle-item {
      display: block !important;
      padding: 0 20px;
      height: 70px;
      min-width: 151px; }
      .nav-menu .toggle-item a {
        color: #8dc63f;
        font-size: 18px; }
      .nav-menu .toggle-item a:hover {
        text-decoration: none; }
      .nav-menu .toggle-item .table-wrapper {
        height: 100%;
        width: 100%;
        text-align: center;
        display: table; }
        .nav-menu .toggle-item .table-wrapper a {
          display: table-cell;
          vertical-align: middle; }
    .nav-menu .menu-item {
      clear: both;
      width: 100%; }
      .nav-menu .menu-item .table-wrapper {
        width: 100%;
        text-align: center; }
    .nav-menu .dropdown-container {
      left: 171px; }
      .nav-menu .dropdown-container li {
        border-left: 1px solid #8dc63f; }

  .three-blocks .col-md-4 {
    margin-top: 50px; }
  .three-blocks .col-md-4:first-child {
    margin-top: 0; }

  .page-contact-and-maps .padding-left {
    padding: 0 !important; }
  .page-contact-and-maps .padding-right {
    padding: 0 !important; }

  .form-group-double {
    height: 133px !important; }
    .form-group-double .form-double-left {
      margin-bottom: 15px;
      padding: 0 !important; }
    .form-group-double .form-double-right {
      padding: 0 !important; } }

/*# sourceMappingURL=style.css.map */
